{% macro sentence_case(text) %} {{ text[0]|upper}}{{text[1:] }} {% endmacro %}
<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>{{folder.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../assets/style.css" />
  <script src="../assets/scripts.js"></script>
  <meta name="description" content="{{garden.description}}" />
  <meta name="keywords" content="{{garden.keywords}}" />
  <meta name="author" content="{{garden.author}}" />
  <body onload="boot()">
    <header><h6>{{garden.title}}</h6></header>

    <!-- DIR of page -->
    <nav>
      <ul>
        <li><a href="{{garden.siteurl}}">$HOME</a> / {{folder.title}} /</li>
        {% for note in folder.notesbydate%}
        <li><a href="#{{note.url}}">{{note.fmatter.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <!-- doc -->
    {% for note in folder.notesbydate%}
    <article>
      <a id="{{note.url}}" href="#{{note.url}}">
        <h1>{{note.fmatter.title}}</h1>
      </a>

      {{note.HTML}} {% if note.wikilinks %}
      <h3 id="{{note.url}}Notes">↳ Connections</h3>

      {% for wiki in note.wikilinks%}
      <p>{{wiki}} mentioned in: 
          {% for note in garden.search_notes(wiki, note)%}
       
        <a href="{{note.url}}">{{note.fmatter['title']}}</a>
      </p>
      {% endfor %}{% endfor %}
     

      {% endif %}
      <footer>
        # ./{{note.filename}} | {{note.fmatter.date}} {% if note.fmatter.updated
        is defined %}| Updated {{note.updated}}{% endif %}
      </footer>
      <hr />
      <p class=""><a href="#top">Back to top</a></p>
    </article>

    {% endfor %}

    <!-- footer -->
    <footer>
      <p>{{garden.footer}} </br>📧 {{garden.email}}.</p>
    </footer>
  </body>
</html>
