<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>{{garden.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/style.css" />
  <script src="assets/scripts.js"></script>
  <meta name="description" content="{{garden.description}}" />
  <meta name="keywords" content="{{garden.keywords}}" />
  <meta name="author" content="{{garden.author}}" />

  <body onload="boot()">
    <header><h6>{{garden.title}}</h6></header>

    {{homepage}} {% for folders in garden.folders | batch(3, '&nbsp;') %} {% for
    f in folders %} {% if f.url is defined %}
    <a class="button" style="" href="./{{f.url}}">{{f.title}}</a>
    {% else %} &nbsp; {% endif %} {% endfor %} {% endfor %}

    <p>All notes by date.</p>
    {% for note in garden.notes_by_date()%}
    <p>
      <a href="{{note.folderurl}}#{{note.url}}">{{note.fmatter['title']}}</a>
      <code>{{note.fmatter['date']}}</code>
    </p>
    {% endfor %}

    <h3>⚙️ Garden Settings</h3>
    <h4>Mode preference</h4>
    <button onclick="change_mode('lightmode');">☀️</button>
    <button onclick="change_mode('darkmode');">🌔</button>
    <h4>Font preference</h4>
    <button onclick="change_font('serif');">Serif</button>
    <button onclick="change_font('sansserif');">Sans-serif</button>
    <button onclick="change_font('monospace');">Monospace</button>


    <!-- footer -->
    <footer>
      <p>{{garden.footer}} </br>📧 {{garden.email}}.</p>
    </footer>
  </body>
</html>
